* text=auto eol=lf
*.png binary
*.gif binary
*.wav binary
*.ttf binary
*.zip binary

# Preserve upstream patches and license notices verbatim.
*.patch -whitespace
assets/fonts/*-LICENSE -text -whitespace
assets/audio/source/kenney/*-LICENSE.txt -text -whitespace
assets/audio/KENNEY-NOTICES.txt -text -whitespace
packaging/macos/licenses/** -text -whitespace
